.sangria_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    display: none; /* começa oculto */
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-sangria{
    max-height: 40vh;
    width: 35%;
    background-color: var(--bg-light);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.349);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.modal-sangria h2{ 
    border-bottom: 2px solid var(--color-border2);
    padding-bottom: 1rem;
}

.modal-sangria label{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.modal-sangria textarea{
    margin-top: 1rem;
    height: 40px;
    border: 2px solid var(--color-border2);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 16px;
    resize: none;
}

.modal-sangria textarea:focus{
    outline: none;
    border: 2px solid var(--red-card);
}

.btn-container-sangria{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.btn-container-sangria button{
    width: 48%;
    padding: 0.8rem;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-sangria-cancelar{ background-color: var(--grey-btn); }
.btn-sangria-cancelar:active{ background-color: var(--grey-btn-active); }

.btn-sangria-confirmar{ background-color: var(--red-card); }
.btn-sangria-confirmar:active{ background-color: var(--red-card2); }
