.novo-usuario-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.modal-novo-usuario {
    background-color: var(--bg-light, #ffffff);
    width: 35%;
    min-width: 350px;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.modal-novo-usuario h2 { 
    border-bottom: 2px solid var(--color-border2, #eee);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.novo-usuario-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.novo-usuario-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.novo-usuario-input label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.required {
    color: #bb1b1b;
    margin-left: 3px;
}

.novo-usuario-input input, .novo-usuario-input select {
    height: 2.8rem;
    border: 1.5px solid var(--color-border3, #ccc);
    border-radius: 10px;
    padding: 0 1rem;
    font-size: 15px;
    background-color: white; /* Ou var(--bg-light) se quiser cinza claro */
    color: var(--text-dark); /* Garante a cor do texto */
    width: 100%;
}

.novo-usuario-input select {
    appearance: none;          /* Remove a seta no Chrome, Firefox e Safari modernos */
    -webkit-appearance: none;  /* Para Safari e Chrome mais antigos */
    -moz-appearance: none;     /* Para Firefox antigo */
    background-image: none;    /* Garante que nenhum background de imagem seja usado como seta */
    cursor: pointer;
}


.novo-usuario-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.novo-usuario-btn-container button {
    width: 48%;
    padding: 0.8rem;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cancelar-novo-usuario {
    background-color: var(--grey-btn);
    color: white;
}

.btn-cancelar-novo-usuario:active{
    background-color: var(--grey-btn-active);
}

.btn-salvar-novo-usuario {
    background-color: var(--stronger-green);
    color: white;
}

.btn-salvar-novo-usuario:active{
    background-color: var(--green-card2);
}


.input-senha-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Adicionado para ocupar toda a largura */
}

.input-senha-wrapper input {
    width: 100%; /* Garante que o input preencha o wrapper */
}

.input-senha-wrapper i {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #666;
}