<link rel="stylesheet" href="/public/css/sidebar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<aside class="sidebar">
    <div class="logo">
        <img src="/public/Assets/Icone.png" alt=" ">
        <h1 class="nome_pousada">
            <span>Pousada</span>
            <span>Pedra Talhada</span>
        </h1>
    </div>

    <nav class="sidebar_itens">
        <ul>
            <li>
                <a href="/admin/reservas">
                    <i class="fa-regular fa-calendar"></i>
                    <span>Reservas</span>
                </a>
            </li>
            <li>
                <a href="/admin/quartos">
                    <i class="fa-solid fa-bed"></i>
                    <span>Quartos</span>
                </a>
            </li>
            <li>
                <a href="/admin/hospedes">
                    <i class="fa-solid fa-users"></i>
                    <span>Hóspedes</span>
                </a>
            </li>
            <li>
                <a href="/admin/financeiro">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span>Financeiro</span>
                </a>
            </li>

            <li>
                <a href="/admin/equipe">
                    <i class="fa-solid fa-user-gear"></i>
                    <span>Equipe</span>
                </a>
            </li>

            <li>
                <a href="/logout" class="btn-sair">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Sair</span>
                </a>
            </li>

            
        </ul>
    </nav>

</aside>

<script src="/public/js/sidebar.js"></script>

